.container{
    margin-bottom: 10px;
}
.carousel-bg{
    background-color: #FEEAE9;
    border-radius: 10px;
}
.carousel-item{
    padding: 20px 40px;
}
.price{
    color: #FF136F; 
}
.buy-now-button{
    background-image: linear-gradient(#FF589B,#FF136F);
    color: #FFFF;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
}